<h3>貴方へのオススメ！</h3>
  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>画像</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ちはやふる</td>
        <td><%= image_tag('http://yuzuya.style.coocan.jp/blog/img/2012/1023/00.jpg', size: '100x100') %></td>
      </tr>
      <tr>
    　　<td>ワンピース</td>
      　<td><%= image_tag('http://img.bookstore.c.yimg.jp/im_sigg_J7fYzJMVZ.yFNva5kSVRg---x200/ebook/db/8f/db8f2b5cdfb8fd4c514fe85a50c410cc0001_cover.jpg?db8f2b5cdfb8fd4c514fe85a50c410cc', size: '100x100') %></td></td>
      </tr>
    </tbody>
  </table>
  <button onclick="location.href='index2.html'" type="button" class="btn btn-danger">別のオススメを見る</button>
  <button onclick="location.href='index3.html'" type="button" class="btn btn-danger">データを保存する</button>