<h3>じゃんさんのページ</h3>
<% book_num = 0 %>
<div class="row">
  <% 4.times.each do %>
    <div class="col-md-3" class="form-group" style="text-align: center">
      <label for="book<%=book_num%>" class="control-label">
        <%= image_tag(@books[book_num][:url], style: "max-height: 240px") %>
      </lavel>
    </div>
    <% book_num += 1 %>
  <% end %>
</div>