<h3>貴方へのオススメ！</h3>
  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>画像</th>
      </tr>
    </thead>
    <tbody>
      <% @result_books.each do |result_book_name| %>
        <tr>
          <td><%= result_book_name %></td>

          <td><%= image_tag(@books.find { |item| item[:name] == result_book_name}[:url], size: '100x100') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <form action="./result" method="post">
    <button type="submit" class="btn btn-danger">別のオススメを見る</button>
  </form>
  <button onclick="location.href='index.html'" type="button" class="btn btn-danger">データを保存する</button>