<h3>貴方へのオススメ！</h3>
<div class="row">
  <% @result_books.each do |result_book_name| %>
    <% book_url = @books.find { |item| item[:name] == result_book_name }.try(:[], :url) %>
    <div class="col-md-4 text-center content-center centered">
      <% if book_url.present? %>
        <%= image_tag(book_url, style: "max-height: 240px") %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row" style="margin-top: 70px;">
  <div class="col-md-offset-3 col-md-3">
  <form action="./result" method="post">
    <input type="hidden" name="book0" value="like">
    <input type="hidden" name="book1" value="like">
    <input type="hidden" name="book2" value="like">
    <button type="submit" class="btn-lg btn-primary">別のオススメを見る</button>
  </form>
  </div>
  <div class="col-md-3">
    <button onclick="location.href='index.html'" type="button" class="btn-lg btn-primary">データを保存する</button>
  </div>
</div>