<!DOCTYPE html>
<html>
<head>
  <title>レコマン。</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/welcome/index.html">レコマン。</a>
    </div>
  </div>
</nav>

<div class="container">
<%= yield %>
</div>

<footer class="footer" style="margin-top: 50px;">
  <div class="container">
    <div class="row">
      <a class="col-md-3" href="">
        <img src="http://www.kodansha.co.jp/upload/pr.kodansha.co.jp/images/banner/banner.gif" alt="講談社広告賞" class="img-responsive">
      </a>
      <a class="col-md-3" href="http://www.bookclub.kodansha.co.jp/">
        <img src="http://www.kodansha.co.jp/upload/pr.kodansha.co.jp/images/cojp_bookclub.gif" alt="ＢＯＯＫ倶楽部" class="img-responsive">
      </a>
      <a class="col-md-3" href="http://kc.kodansha.co.jp/">
        <img src="http://www.kodansha.co.jp/upload/pr.kodansha.co.jp/images/comicplus.jpg" alt="コミックプラス" class="img-responsive">
      </a>
      <a class="col-md-3" href="http://corp.kodansha.co.jp/kids/ohanashi/">
        <img src="http://www.kodansha.co.jp/upload/pr.kodansha.co.jp/images/ohanasshitai.gif" alt="おはなし隊" class="img-responsive">
      </a>
    </div>
  </div>
</footer>
</body>
</html>
